<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.naman.questionbank">

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".ViewResourecActivity"
            android:theme="@style/Theme.Transparent"
            />
        <activity android:name=".AddResourceActivity" />
        <activity android:name=".profileActivity" />
        <activity
            android:name=".help"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aboutdeveleper"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".questionbanklist"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.login"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.register"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feedback"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".imain"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".ipre"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".cpre"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".cmain"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".gate"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".advance"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".cds"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".neet"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".nda"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".jee"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".semester"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".ViewActivity"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".cbse"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".isc"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".aktu"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".MainActivity"
            android:alwaysRetainTaskState="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".splash"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>