<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.naman.questionbank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application


        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString">
        <activity android:name="com.naman.questionbank.help" android:alwaysRetainTaskState="true" android:screenOrientation="portrait"></activity>
        <activity android:name="com.naman.questionbank.aboutdeveleper" android:alwaysRetainTaskState="true"  android:screenOrientation="portrait" />
        <activity android:name="com.naman.questionbank.questionbanklist" android:alwaysRetainTaskState="true" android:screenOrientation="portrait" />
        <activity android:name="com.naman.questionbank.feedback" android:alwaysRetainTaskState="true" android:screenOrientation="portrait" />
        <activity android:name="com.naman.questionbank.imain" android:alwaysRetainTaskState="true" />
        <activity android:name="com.naman.questionbank.ipre" android:alwaysRetainTaskState="true" />
        <activity android:name="com.naman.questionbank.cpre" android:alwaysRetainTaskState="true" />
        <activity android:name="com.naman.questionbank.cmain"  android:alwaysRetainTaskState="true"/>
        <activity android:name="com.naman.questionbank.gate" android:alwaysRetainTaskState="true" />
        <activity
            android:name="com.naman.questionbank.advance"
            android:alwaysRetainTaskState="true" />
        <activity android:name="com.facebook.ads.AudienceNetworkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.naman.questionbank.cds"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name="com.naman.questionbank.neet"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name="com.naman.questionbank.nda"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name="com.naman.questionbank.jee"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name="com.naman.questionbank.semester"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name="com.naman.questionbank.ViewActivity"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name="com.naman.questionbank.cbse"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name="com.naman.questionbank.isc"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name="com.naman.questionbank.aktu"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name="com.naman.questionbank.MainActivity"
            android:alwaysRetainTaskState="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.naman.questionbank.splash"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>